body {
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}
h1 {
    color: rgb(232, 255, 148);
    background-color: rgb(15, 16, 90);
    text-align: center;
    width: 500px;
    padding-top: 12px;
    padding-bottom: 12px;
    border: dotted 2px;
    margin: 20px 40px;
}

.christmas {
    color: rgb(255, 150, 150);
    background-color: aquamarine;
    outline: green;
    outline-style: groove;
    outline-width: 2px;
    text-align: center;
}

ul {
    list-style: square;
}

.link {
    font-size: 24px;
    padding: 12px;
    display: inline-block;
    border: dotted 2px;
}